.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    text-align: center;
    background: cornflowerblue;
}

.boarder {
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.monitor {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 520px;
    height: 140px;
    background-color: cornflowerblue;
    color: black;
    font-size: 60px;
    border-style: solid;
    border-radius: 10px;
}

.monitor span {
    font-size: 24px;
}

.tuner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 520px;
    height: 73px;
    background-color: cornflowerblue;
    color: black;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
}

.tunerRed input {
    background: red;
}

.tuner input {
    text-align: center;
    margin-left: 20px;
    border-radius: 9px;
    height: 30px;
}

.monitorRed {
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 520px;
    height: 140px;
    background-color: cornflowerblue;
    font-size: 60px;
    border-style: solid;
    border-radius: 10px;
}

.monitorRed span {
    font-size: 24px;
    color: red;
}

.buttons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 520px;
    height: 50px;
    background-color: cornflowerblue;
    color: black;
    border-style: solid;
    border-radius: 10px;
}

.button {
    width: 90px;
    height: 40px;
    border-radius: 8px;
    margin: 5px 15px;
}

.button:disabled {
    opacity: 0.5;
}


